F:\Learnings\STM32\Embedded-C-master
F:\Learnings\STM32\Instructor
/STM32/Embedded-C-master
/STM32/Instructor
/STM32/My_workspace/host/.metadata
/STM32/My_workspace/host/000TestProject/.settings
/STM32/My_workspace/target/.metadata
/STM32/My_workspace/target/000TestProject/.settings
STM32/My_workspace/target/000TestProject/.project
STM32/My_workspace/target/000TestProject/.cproject
STM32/My_workspace/host/000TestProject/Debug/000TestProject.exe
/STM32/My_workspace/host/000TestProject/Debug
/STM32/My_workspace/target/000TestProject/Debug
STM32/My_workspace/target/001HelloWorld/.cproject
STM32/My_workspace/target/001HelloWorld/.project
STM32/My_workspace/target/001HelloWorld/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
/STM32/My_workspace/target/001HelloWorld/.settings
/STM32/My_workspace/target/001HelloWorld/Debug
/STM32/My_workspace/target/BlinkLED/.settings
/STM32/My_workspace/target/BlinkLED/Debug
STM32/My_workspace/host/000TestProject/.cproject
STM32/My_workspace/host/000TestProject/.project
/STM32/My_workspace/host/000TestProject
/STM32/My_workspace/target/000TestProject
STM32/My_workspace/target/001HelloWorld/001HelloWorld Debug.launch
STM32/My_workspace/target/BlinkLED/.cproject
STM32/My_workspace/target/BlinkLED/.project
STM32/My_workspace/target/BlinkLED/BlinkLED.launch
STM32/Trail/New Text Document.txt
